COMPOSE_PROJECT_NAME=aervyx-prod
POSTGRES_DB=flightcomp
POSTGRES_USER=flightcomp
POSTGRES_PASSWORD=change-me
MOSQUITTO_PLAIN_BIND=0.0.0.0
MOSQUITTO_PLAIN_PORT=1883
MOSQUITTO_TLS_BIND=0.0.0.0
MOSQUITTO_TLS_PORT=8883
MOSQUITTO_EXTRA_CONFIG_DIR=./mosquitto/config/conf.d
MOSQUITTO_CERT_DIR=./mosquitto/certs
MOSQUITTO_SECRET_DIR=./mosquitto/secrets
ACME_EMAIL=admin@aervyx.net
CAR_TLS_HTTP_BIND=0.0.0.0
CAR_TLS_HTTP_PORT=80
CAR_TLS_HTTPS_BIND=0.0.0.0
CAR_TLS_HTTPS_PORT=443
