COMPOSE_PROJECT_NAME=aervyx-prod
POSTGRES_DB=flightcomp
POSTGRES_USER=flightcomp
POSTGRES_PASSWORD=change-me
MOSQUITTO_EXTRA_CONFIG_DIR=./mosquitto/config/conf.d
MOSQUITTO_CERT_DIR=./mosquitto/certs
MOSQUITTO_SECRET_DIR=./mosquitto/secrets
